/* Animación para la página principal */
.animated-title {
    animation: fadeInDown 2s ease-in-out, subtleColorChange 3s infinite alternate;
}

/* Animación de desvanecimiento hacia abajo */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Cambio de color sutil */
@keyframes subtleColorChange {
    from {
        color: #007bff; /* Azul moderno */
    }
    to {
        color: #0056b3; /* Azul más oscuro */
    }
}

/* Animación para configuración */
.animated-section {
    animation: fadeInSlide 1.5s ease-in-out;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Efecto de escala al pasar el cursor por encima */
.box:hover {
    animation: hoverEffect 0.3s ease-in-out;
    transform: scale(1.05);
}

@keyframes hoverEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* Animación para la opción de tickets en barra de navegación */
.animated-dropdown {
    animation: fadeInDown 0.3s ease-in-out; /* Efecto de entrada */
}

/* Configuración de menú desplegable */
.dropdown-menu {
    position: absolute;
    will-change: transform;
    max-width: 200px;
    overflow: hidden;
    z-index: 1050;
}

/* Transición suave en hover */
.dropdown-item {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.dropdown-item:hover {
    background-color: #0056b3; /* Azul oscuro en hover */
    color: #ffffff; /* Texto blanco */
    transform: scale(1.05);
}

/* Base general para el sitio */
body {
    background-color: #e3f2fd !important;
    font-family: Arial, sans-serif !important;
}


/* Barra de navegación */
.navbar {
    background-color: #007bff; /* Azul moderno */
}
.navbar .nav-link {
    color: #fff !important; /* Texto blanco */
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}
.navbar-toggler-icon {
    filter: invert(1);
}

.navbar .nav-link:hover {
    background-color: #0056b3; /* Azul oscuro */
    border-radius: 5px;
}

/* Estilo para truncar texto */
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-content {
    white-space: normal;
    word-wrap: break-word;
}

/* Animación de campana */
@keyframes bell-animation {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
}

.notification-bell.animated {
    animation: bell-animation 0.5s ease-in-out;
}

/* Estilo del punto rojo de notificación */
.notification-bell .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    display: none;
}

.notification-bell.has-notification .badge {
    display: inline;
}
